temp/*
.vscode/*
.git/*
.idea/*
__pycache__/*
.pylintrc
tempCodeRunnerFile.py
testnet.py
testnetclient.py
test*
old*
test/*
clienttest.py
servertest.py
networktest.py
rencode.py
.VSCodeCounter/*
.pydevproject
.project
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/*
*.pyc
net/oldbombclient.py
net/oldbombserver.py
workspace.code-workspace
*.tmp
*test*
*.prof
.pylintrc
bomberdude.tiled-project
bomberdude.tiled-session
bomberdude.tiled-session
*tiled*
bomberdude.tiled-session
.complexipy_cache/*