.vscode/*
.git/*
.idea/*
__pycache__/*
tempCodeRunnerFile.py
testnet.py
testnetclient.py
test/*
clienttest.py
servertest.py
networktest.py
rencode.py
.VSCodeCounter/*
.pydevproject
.project
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/*