[MASTER]
ident-string="\t"
jobs = 4
disable=
  C0114, # missing-module-docstring
  W1309,

[BASIC]
function-naming-style=any

[VARIABLES]
allow-global-unused-variables=yes

[MESSAGES CONTROL]
disable = 
  unused-variable,
  unused-argument,
  unused-import,
  broad-except,
  no-self-use,
  protected-access,
  invalid-name,
  redefined-outer-name,
  bad-indentation